TUSHARE_TOKEN=eEy9JV1qIajmoG4rO3TlYHwPNUzcIIs7ItntATi5OQjHEHsIIpmJUziwOsjJEb3MO7DOMBwBOCTwQUziOFTtl39
TUSHARE_HTTP_URL=https://fastapia.stockai888.top

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=qaws
MYSQL_DATABASE=quant

OLLAMA_MODEL=deepseek-r1:7b

